#slide-sim-complex {
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#slide-sim-agents {
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sim-p5 {
    width: 100%;
    height: 100%;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}


